/* text */
body {
  font-family: Arial;
  font-weight: 600;
  color: #494949;
  background-color: #d9e9f3;
  margin: auto;
  display: block;
  width: 90%;
  height: 100%;
}

/* button */
button {
  width: 80px;
  height: 34px;
  background-color: #a4d3f0;
  border: solid #a4d3f0;
  border-radius: 11px;
  font-size: 16px;
}
#filters button {
  margin-top: 4px;
}
#dataSection button {
  width: 140px;
  height: 40px;
}

input[type="submit"]:active, button:active {
  background-color: #89cbf5;
}

/* select and input */
select, input[type="submit"] {
  font-family: Arial;
  color: #494949;
  border: solid #a4d3f0;
  border-radius: 11px;
  font-size: 18px;
  background-color: #ffffff;
  margin-bottom: 8px;
}

/* sections */
section {
  width: 100%;
}
#topBar {
  background-color: #a4d3f0;
}
#topBar h1{
  margin-top: 0px;
  text-align: center;
  font-size: 32px;
}
#aboveData {
  height: 200px;
  margin: auto;
}
#aboveData h1 {
  margin-top: 4px;
  margin-bottom: 8px;
}
#buttons {
  border-bottom: solid #ffffff;
}

/* filter */
#filters {
  width: 440px;
  height: 120px;
  float: left;
}

/* tools */
#tools {
  width: 440px;
  height: 120px;
  float: left;
}

/* tables */
#mainTable table{
  overflow: auto;
  max-height: 600px;
  display: block;
  margin: auto;
}
#mainTable table td, #mainTable table th{
  padding-right: 16px;
  text-align: left;
  min-width: 92px;
  font-size: 18px;
}
#mainTable table th {
  background-color: #a4d3f0;
}
#mainTable table tr:nth-child(even) {
  background-color: #b8d8ec;
}